
li{
    all: unset;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 10px;
    font-weight: initial;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
      font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-inline: 85px;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: bold;
    
   

}

.links{
    display: flex;
    gap: 10px
    ;
}

.container1
{
    display: flex;
    padding: 38px;
    background-color: #1F2937;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.placeholder{
    background-color: gray;
    width: 250px;
    height: 100px;
    align-content: center;
}

.context1{
    
    width: 200px;
    height: 100px;
}

.box{
    border: #3882f6;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    width: 100px;
    height: 100px;
}



.container2{
    padding: 30px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
   
    flex-wrap: wrap;
    
    
   
}
.information{
   text-align: center;
   padding-bottom: 30px;
   
}
.boxes{
    display: flex;
    gap:20px;
    
   flex-wrap:wrap;
   align-content: center;
   justify-content: center;
    
}


.boxEl{
    
    display: flex;
    flex-direction: column;
    
    width: 104px;
    text-align: center;
    align-items: center;
}

.container3{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 30px;
    padding-block: 50px;
    align-items: center;
    gap: 10px;
}

.quote{
    
    max-width: 340px;
    height: auto;
   
}

.aut{
    align-self: flex-end;
    padding-right: 130px;
}


.container4{
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    
    
    padding: 40px;
    width: auto;
    padding-inline: 50px;
    font-size: smaller;
    color: white;
    background-color: #3882f6;
    border-radius: 5px ;
    align-items: center ;
    justify-content: space-between;
    
}


.foot{
    display: flex;
    background-color:#1F2937; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    color: #E5E7EB;
    font-size: xx-small;
}